<h2><%= "Items in Fridge #{params[:id]}" %> </h2>
<ul>
	<% @fridge.items.each do |item| %>
		<li><%=item.name%></li>
	<% end %>  
</ul>

<%= link_to 'Edit', edit_fridge_path(@fridge) %> |
<%= link_to 'Back', fridges_path %>
