<div class="container">
  <div class="centered-form mx-auto">
    <h1>About</h1>

    <p>Fridge Share is a content management web app created to help users keep track of their groceries sitting in their fridges. By having a list of items of what you keep in the fridge, cutting down on food waste becomes significantly easier.</p>
  </div>
</div>

