<table border=1 bordercolor=black>
	<thead>
		<tr>
			<% resources.each do |resource| %>
			<th>
                <%=resource.try(:email) ? "#{resource.name} - #{resource.email}":resource.name %>
                    
            </th>
			<% end %>
		</tr>
	</thead>
    <tbody>
    	<% resources.each do |resource| %>
        <td>
        	<%= render partial: 'items/show', locals: {items: resource.items} %>
        </td>
        <% end %>
    </tbody>
  </table>