<h1>Expired Items</h1>
<h2>All</h2>
<%= render partial: 'items/show', locals: {items: Item.expired_items} %>

<h2>By Fridge</h2>
<%= render partial: 'items/by_resources_layout', locals: {resources: Fridge.all} %>


<h2>By User</h2>
<%= render partial: 'items/by_resources_layout', locals: {resources: User.all} %>